.big-heading {
    font-size: 30px;
    margin: 10px;
    font-weight: 900;
}
.container-outer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;

}

.sub-heading {
    font-size: 20px;
    font-weight: 700;
}

.input-field, .long-input-field, .short-input-field{
    margin-right: auto;
    margin-left: 1.5em;
    margin-top: 0.25em;
}

.input-field input {
    border: none;
    background-color: #f8f8f8;
    padding: 1em;
    padding-left: 2em;
    padding-right: 20em;
    border-radius: 25px;
    box-shadow: 2px 2px 2px lightgrey;
}
/* I didn't know how to make the boxes evenly distribute depending on the size of the outer div box :(  */
.short-input-field input {
    border: none;
    background-color: #f8f8f8;
    padding: 1em;
    padding-left: 2em;
    padding-right: 20em;
    border-radius: 25px;
    box-shadow: 2px 2px 2px lightgrey;
}

.long-input-field input {
    border: none;
    background-color: #f8f8f8;
    padding: 1em;
    padding-left: 2em;
    padding-right: 20em;
    border-radius: 25px;
    box-shadow: 2px 2px 2px lightgrey;
}