.flex-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
}


.cover-box1 {
  flex: 1;
  background-color: #f8f8f8;
  /* box-shadow: 0 4px 6px -6px #222, 0 4px 6px -6px #222; */
  box-shadow: 2px 2px 2px lightgrey;
  padding-left: 1em;
  padding-right: 1em;
}

.cover-box2 {
  margin-left: 2em;
  flex: 5;
  background-color: #E5F5FD;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgrey;
}

.cover-box2 h2{
  margin-left: 2em;
  flex: 5;
}

.requests {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
  margin-left: 2em;
}

.request-1 {
  /* width: 12em; */
  flex: 0.3;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 3em;
  padding-bottom: 1em;
  background-color: white;
  border-top: solid 3px #63BC9B;
  margin-bottom: 2em;
  box-shadow: 2px 2px 2px lightgrey;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 5pt;
}

.request-1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.request-1 a {
  background-color: #2563EB;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: auto; */
  /* margin-top: 2em; */
  justify-content: flex-end;
}

h1 {
  font-weight: normal;
  font-size: 24pt;
}

.search-bar {
  display: flex;
  flex-direction: row;
}

.search-container {
  /* align-items: right; */
  margin-right: auto;
  margin-left: 1.5em;
  margin-top: 1em;
  /* background-color: #f8f8f8; */
}

.search-container input {
  border: none;
  background-color: #f8f8f8;
  padding: 1em;
  padding-left: 2em;
  padding-right: 20em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 2px 2px 2px lightgrey;
}

.search-container button {
  border: none;
  background-color: #f8f8f8;
  border-right: 2px solid white;
  padding: 1em;
  padding-left: 2em;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 2px 2px 2px lightgrey;

}

.request-1 h3,h4 {
  font-weight: normal;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}
.request-1 h3 {
  font-size: 20pt;
}

.request-1 h4 {
  font-size: 14pt;
}

.clin-info {
  color: #717171;
}

.consultation {
  display: flex;
  flex-direction: row;
}

.clinician_1 {
  margin-top:1.5em;
  margin-bottom: 0.5em;
  font-size: 14pt;
}

.consultation_details {
  background-color: #efefef;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 25pt;
  text-align: center;
}