.row-flex {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 2em;
}

.therapist-portal-page h1 {
  margin-top: 1.5em;
}


.allrequests h2 {
  font-size: 20pt;
  font-weight: normal;
}
.cover-box1 h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.data-stats{
  margin-left: 2em;
  flex: 1;
  background-color: #E5F5FD;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgrey;
}

.data-stats h2{
  font-size: 20pt;
  font-weight: normal;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.allrequests {
  display: flex;
  flex-direction: column;
  flex: 6;
}


.tile-head img {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1 {
  font-weight: normal;
  font-size: 24pt;
  margin-top: 0.25em;
}

.search-bar {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.search-container {
  /* align-items: right; */
  margin-right: auto;
  margin-left: 1.5em;
  margin-top: 0.25em;
  /* background-color: #f8f8f8; */
}

.search-container input {
  border: none;
  background-color: #f8f8f8;
  padding: 1em;
  padding-left: 2em;
  padding-right: 20em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 2px 2px 2px lightgrey;
}

.search-container button {
  border: none;
  background-color: #f8f8f8;
  border-right: 2px solid white;
  padding: 1em;
  padding-left: 2em;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 2px 2px 2px lightgrey;

}

.request-1 h3,h4 {
  font-weight: normal;
}
.request-1 h3 {
  font-size: 20pt;
  margin-top: 0.5em;
}

.request-1 h4 {
  font-size: 14pt;
}

.clin-info {
  color: #717171;
}

.consultation {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}

.clinician_1 {
  margin-top:0.5em;
  margin-bottom: 0.5em;
  font-size: 14pt;
}

.consultation_details {
  background-color: #efefef;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 25pt;
  text-align: center;
  box-shadow: 1px 1px 1px lightgrey;
}

.filter-menu h4 {
  font-size: 14pt;
  margin-bottom: 1em;
  margin-left: 1em;
}


.filter-menu {
  display: flex;
  flex-direction: row;
  text-align: start;
}

.radio-button input {
  margin-top: 0.5em;
  margin-left: 3em;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.25em;
  margin-bottom: 2em;
}

.checkbox-item {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.checkmark-box {
  margin-left: 0.5em;
}

.view_consultation {
  position: absolute;
  margin-top: 1em;
  bottom: 0;
  margin-bottom: 1em;
}

.consultation {
  margin-bottom: 2em;
  justify-content: center;
}

.clin-info {
  margin-bottom: 1em;
}

.check-all span{
  margin-left: 0.5em;
}

.check-all {
  justify-content: flex-end;
  margin-top: 1em;
}

.summary-box {
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  border-radius: 5pt;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
}


.cr_box {
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  padding: 1em;
  padding-right: 0;
  width: 26em;
  margin-left: 2em;
  margin-right: 2em;
}

.tile-head {
  display: flex;
  flex-direction: row;
}

.p-consultation {
  margin-left: 1em;
  font-size: 16pt;
  margin-bottom: 0.25em;
}

.flex-datesRate {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.p-22 {
  font-size: 36pt;
}

.flex-datesRate span {
  color: #0A9D4C;
  padding-right: 0.25em;
}

.boxes {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 1em;
  justify-content: space-between;
}

.box_2 {
  background-color:#2563EB;
  color: white;
  text-align: center;
  width: 8em;
  /* margin-left: auto; */
  margin-right: 1em;
  padding: 1em;
  border-radius: 5pt;
  box-shadow: 2px 2px 2px lightgrey;
}

.box_3 {
  background-color:#38BDF8;
  color: white;
  text-align: center;
  width: 8em;
  /* margin-left: auto; */
  margin-right: 1em;
  padding: 1em;
  border-radius: 5pt;
  box-shadow: 2px 2px 2px lightgrey;
}

.box_4 {
  background-color:#717171;
  color: white;
  text-align: center;
  width: 8em;
  /* margin-left: auto; */
  margin-right: 1em;
  padding: 1em;
  border-radius: 5pt;
  box-shadow: 2px 2px 2px lightgrey;
}

.fact-check {
  width: 5em;
  height: 100%
}
.box_2 p {
  margin-left: 0px;
}
.box_3 p {
  margin-left: 0px;
}
.box_4 p {
  margin-left: 0px;
}

.circle-text_1 {
  font-size: 24pt;
  margin: 0px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.request-table {
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 5pt;
  border: solid #F8F8F8;
  margin-top: 1em;
  border-collapse: collapse;
}
.request-table thead {
  background-color: #F8F8F8;
  border-radius: 5pt;
}

.request-table thead th{
  font-weight: normal;
  color: #717171;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 1em;
  padding-left: 1em;
  text-align: left;
}

.request-table tbody th, td {
  font-weight: normal;
  padding-left: 1em;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}

.request-table tbody tr {
  border-bottom: solid 1px #f8f8f8;
  padding-top: 1em;
  padding-bottom: 1em;
}

.request-table a {
  color: white;
  background-color:#2563EB;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.request-table td select {
  border: none;
  background-color: #efefef;
  border-radius: 25px;
  padding: 0.5em;
  box-shadow: 2px 2px 2px lightgrey;
}