nav {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    padding-top: 0.75em;
    padding-bottom: 1em;
    /* padding-left: 3em; */
    padding-right: 3em;
    overflow: hidden;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.navbar_container {
    font-size: 24pt;
    margin-left: 1.5em;
}

.navbar_container a {
    color: rgb(92, 208, 223);
}

.navbar_menu {
    display: flex;
    flex-direction: row;
    padding: 0px;
    padding-top: 12px;
    margin-right: 3.5em;
    margin-left: auto;
}

.navbar_menu a {
    font-size: 14pt;
    padding-left: 2em;
    text-align: right;
    color: black;
}