.details {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.next-button {
    /* background-color: blue; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 35px;
    /* margin-top: 3em; */
    
}

.next-button a {
    font-size: 20px;
    /* color: white; */
    color: blue;
    border: 2px solid blue;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.details p {
    font-size: 12pt;
}

.schedule-consult h2 {
    margin-top: 1.5em;
}

.header-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

h4{
    color: black;
    font-size: 14pt;
    margin-left: 0;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.pay-type {
    display: flex;
    flex-direction: column;
}

.radio-container span {
    margin-left: 0.5em;
}

.schedule-consult p {
    font-size: 12pt;
    color: black;
    margin-left: 0;
}

.pay-method {
    margin-bottom: 2em;
}

.google-cal-sched {
    margin-bottom: 0;
}

.form-end {
    display: flex;
    flex-direction: row;
}

.sub-header-form {
    display: flex;
    flex-direction: row;
}